name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  test_dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Check Rust version
        run: |
          rustc --version
          cargo --version
          rustup show
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test

  test_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Check Rust version
        run: |
          rustc --version
          cargo --version
          rustup show
      - name: Build
        run: cargo build --release
      - name: Test
        run: cargo test --release

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Check Rust version
        run: |
          rustc --version
          cargo --version
          rustup show
      - name: Rustfmt
        run: cargo fmt --check
      - name: Clippy
        run: cargo clippy -- -Dwarnings

  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-fuzz
        run: cargo install cargo-fuzz
      - name: Run fuzz tests
        run: |
          cd fuzz
          cargo fuzz run format_serde_json -- -max_total_time=5
          # TODO: fix bincode, currently has failing case but not used
          # cargo fuzz run format_serde_bincode -- -max_total_time=5
          cargo fuzz run net_types_serde_capnp -- -max_total_time=5
